page-add {

    ion-list {
        border: 1px   #cecece;
        background-color: red;
        
    }
    ion-item {
        color: black;
        font-size:12px;
    }
 
$item-md-body-text-font-size: 10rem;
$item-md-font-size: 4.1rem;
}
